<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h5>コメント</h5>
      <p>
        こちらはコメント欄です！2人のページを訪問して、お互いが記録している技術や知識について質問や補足などのコメントを残しましょう！<br>
        これからよろしくお願いいたします :)
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 mt-3">
      <p>0/0 loremipsum loremipsum loremipsum loremipsum!!</p><br>
      <p>0/0 loremipsum loremipsum loremipsum loremipsum!!</p><br>
      <p>0/0 loremipsum loremipsum loremipsum loremipsum!!</p><br>
      <p>0/0 loremipsum loremipsum loremipsum loremipsum!!</p><br>
    </div>
  </div>
</div>