<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>

<div id="homes_top">

  <h1>Share Tech</h1>
  <div>
    <%= link_to "aya", aya_homes_top_path, class:"btn btn-a" %>
    <%= link_to "koto", koto_homes_top_path, class:"btn btn-k" %>
  </div>

  <%= link_to "コメント", homes_comment_path %>
  <%= link_to "素材庫", homes_item_path %>

</div>

