<div class="container mt-4">
  <div class="row">
    <h5 class="border-bottom p-3">aya JavaScript</h5>
  </div>
  <div class="row mt-3">
    <ul>
      <li><%= link_to "select2", aya_javascript_select2_path, class:"text-dark" %></li>
      <li><%= link_to "jscroll", aya_javascript_jscroll_path, class:"text-dark" %></li>
      ＊順次追加予定です
    </ul>

  </div>



  <div class="row mt-3">
    <%= link_to "カテゴリ一覧に戻る", aya_homes_top_path, class:"btn btn-sm btn-outline-secondary" %>
  </div>

</div>