<h1>Wellcom</h1>
<table class="table table-hober table-inverse">
  <thead>
    <tr>
      <th>自己紹介</th>
      <th>ニックネーム</th>
      <th>趣味</th>
      <th>勉強中</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>最近アニメを見ることにハマっています。スプラを購入しようか悩み中…</td>
      <td>kotty</td>
      <td>バイク、登山、アニメ、温泉(サウナ)、Youtube(東海オンエア)</td>
      <td>JavaSquript,Pythonなど...</td>
    </tr>
  </tbody>
</table>