
<h1 class="text-center">Wellcom</h1>
<h4 class="text-center">~Kotty~HomePage</h4>
<table class="table table-hober table-inverse ml-4 text-center">
    <tr>
      <th>自己紹介</th>
      <td>アニメを見ることとスプラをすることにハマっています。</td>
    </tr>
    <tr>
      <th>ニックネーム</th>
      <td>kotty</td>
    </tr>
    <tr>
      <th>趣味</th>
      <td>バイク、登山、アニメ、温泉(サウナ)、Youtube(東海オンエア)、スプラトゥーン</td>
    </tr>
    <tr>
      <th>勉強中</th>
      <td>JavaSquript,Pythonなど勉強したいと考えています。</td>
    </tr>
</table>