#homes_top {

  h1 {
    color: orange;
    font-family: "Times New Roman", serif;
    margin: 0 auto;
    width: 300px;
  }

  .btn {
    display: inline-block;
    width: 200px;
    height: 100px;
    background-color: gray;
    margin: 30 auto;
  }

}