<div class="container mt-4">
  <div class="row">
    <h5 class="border-bottom p-3">aya カテゴリ一覧</h5>
  </div>
  <div class="row mt-3">
    <ul style="list-style: none;">
      <li><%= link_to "JavaScript", aya_javascript_index_path, class:"text-warning" %></li>
      <li><%= link_to "RSpec", aya_rspec_show_path, class:"text-primary" %></li>
      ＊順次追加予定です


    </ul>
  </div>



  <div class="row mt-3">
    <%= link_to "トップに戻る", root_path, class:"btn btn-sm btn-outline-secondary" %>
  </div>

</div>